@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .title-1 {
    @apply font-Glory font-semibold text-[145px];
  }
  .title-2 {
    @apply font-Glory font-medium text-[84px];
  }
  .heading-1 {
    @apply font-medium font-Glory text-5xl;
  }
  .heading-2 {
    @apply font-medium font-Glory text-[32px];
  }
  .heading-3 {
    @apply font-medium font-Glory text-2xl;
  }
  .heading-4 {
    @apply font-normal font-Glory text-xl;
  }
  .heading-5 {
    @apply font-semibold font-Glory text-xl;
  }
  .heading-6 {
    @apply font-semibold text-base font-Glory;
  }
}

body::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.dropShadow {
  -webkit-box-shadow: 0px 0px 49px 0px rgba(160, 25, 250, 1);
  -moz-box-shadow: 0px 0px 49px 0px rgba(160, 25, 250, 1);
  box-shadow: 0px 0px 49px 0px rgba(160, 25, 250, 1);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
